/* General */
html {
  font-size: 18px;
}
body {
  font-family: "Roboto", sans-serif;
  margin-top: 118px;
}

h2 {
  font-size: 50px;
}

img {
  max-width: 100%;
}

/* Black bar */
.r_black {
  background-color: black;
}

.navbar {
  border-bottom: 2px solid black;
}

.sony {
  min-height: 20px;
  max-height: 25px;
}

/* NavBar */
.nav-item {
  margin: 0 15px;
  color: black;
}

.nav-item a {
  color: black;
}

/* Buttons */
.btn {
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.btn-nav {
  background-color: #363636;
  border: 1px solid #363636;
}

.btn-cta {
  background-color: #cd3d0f;
}

.btn-info {
  background-color: #2d64e6;
}

.btn-plus {
  background-color: #d9dadc;
  color: #2d64e6;
}

.btn-now {
  background-color: #f5f5f5;
  color: black;
}

/* Sezione Header */
.bkg-img {
  background-image: url("../img/jumbo-bg.png");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  min-height: 750px;
}

.game-img img {
  width: 100%;
  border-radius: 20px;
}

.game-img {
  padding: 2px;
  transition: 0.4s ease-out;
  cursor: pointer;
  position: relative;
}

.blue-border::before {
  content: "";
  position: absolute;
  border: 3px solid #2f8cd7;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: 20px;
}

.pick:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.border-blue {
  border: 3px solid #2f8cd7;
  border-radius: 20px;
}

/* Sezione PS5 */
.no-limit {
  color: #2f8cd7;
}

.item {
  text-align: center;
  margin-top: 5px;
}

.opac {
  opacity: 0.3;
  position: relative;
}

.opac::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #2f8cd7;
  display: none;
}

.opac:hover {
  opacity: 1;
}

.opac:hover:after {
  display: block;
}

/* It takes Two */
.bkg-img-2 {
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
  background-size: cover;
  background-position-y: top;
  background-position-x: center;
  min-height: 750px;
}

/* Game news Section */
.game-news {
  background-color: #1f1f1f;
}

.scale:hover {
  transform: scale(1.1);
}

/* Playstation Plus Section */
.ps-plus {
  background-color: #bebcbb;
}

/* PlayStation Now Section */
.ps-now {
  background-color: #161c3b;
}

/* Footer */
.footer {
  background-color: #043f8c;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer ul {
  list-style: none;
}

.globe {
  max-width: 20px;
}

.si-logo {
  max-width: 120px;
}

.info-copyright {
  font-size: 0.8rem;
}

.info-copyright a {
  text-decoration: underline;
}

/* @media (min-width: 1700px) {
  .container-lg {
    max-width: 1600px;
  }
} */
